.login-frame {
  margin: 6rem auto;
  width: 500px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #376eb9;
}

.login-header {
  padding: .825rem;
  background: #376eb9;
  color: white;
  text-align: center;
}

.form-footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-control {
    margin-top: 1rem;
    width: 50%;
    text-align: center;
  }
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
}

.login-form {
  padding: 1rem;
}