.node-item {
  padding: 1rem;
  display: flex;
  border: 1px solid #eeeeee;


  .node-name {
    font-size: 1rem;
  }

  .node-extra {
    list-style: none;
    padding: 0;
    margin-left: 0;
    font-size: .825rem;
  }

  .icon {
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.online {
      color: white;
      background: #0db627;
    }

    &.offline {
      background: #c05252;
      color: white;
    }

    & > svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}