{{ template "globals/header.tmpl.html" . }}
{{ template "globals/navbar.tmpl.html" . }}

<div class="content">
    <div class="wrapper">
        <section class="section">
            <div class="section-header">
                <h1 class="title">订阅信息</h1>
            </div>

            <div class="section-body">
                <div class="form-control">
                    <div class="form-input">
                        <input readonly value="{{.Url}}" type="text">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{ template "globals/footer.tmpl.html" }}