{{ template "globals/header.tmpl.html" . }}
{{ template "globals/navbar.tmpl.html" . }}

<div class="content">
    <div class="wrapper">
        <section class="section">
            <div class="section-header">
                <h1 class="title">服务器节点</h1>

                <ul class="right-actions">
                    <li>
                        <a @click="$modalAddNode().open()" href="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                            添加节点
                        </a>
                    </li>
                </ul>
            </div>

            <div class="node-list">
                {{range .Nodes }}
                <node-item
                        name="{{.name}}"
                        addr="{{.addr}}"
                        port="{{.port}}"
                        state="{{.state}}"
                        port="{{.NodePort}}">
                </node-item>
                {{end}}
            </div>
        </section>
    </div>
</div>
{{ template "globals/footer.tmpl.html" }}